<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>School Website</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="../assets/js/scripts.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../pages/index.html">Home</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>